.header {
  width: 100%;
  font-size: 1.5rem;
  margin-bottom: 10px;
}

.title {
  display: inline-block;
  float: left;
  width: 33.3%;
  text-align: center;
  color: rgb(216, 215, 215);
  font-family: 'Marcellus SC', serif;
}

.scores {
  display: inline-block;
  float: right;
  width: 33.3%;
  text-align: center;
  color: rgb(216, 215, 215);
  font-family: 'Marcellus SC', serif;
}

.instructions {
  display: inline-block;
  color: rgb(216, 215, 215);
  width: 33.3%;
  text-align: center;
  font-family: 'Marcellus SC', serif;
}
